In [2]:
print("Hello World")

Hello World

In [5]:
print(2+3)
print(10/5)
print(2*3)
print(7.80-0.79)

print("Soma de 3 + 4 é igual a:",3+4)

5
2.0
6
7.01
Soma de 3 + 4 é igual a: 7

In [10]:
x = 10
y = x + 5
print(y)

contador = 0
contador = 1
contador = contador + 1
print(contador)

contador_2 = 1
contador_2 = 0
contador_2 = contador_2 + 1
print(contador_2)

15
2
1

In [18]:
#Exemplo

nome = "Luiz"
idade= "19"
altura = "1,75"

print("Olá, meu nome é",nome,"minha idade é",idade,"minha altura é",altura)

Olá, meu nome é Luiz minha idade é 19 minha altura é 1,75

In [57]:
# Exercício

X_str = input("Chooser your number:")
X_int = int(X_str)
prova = (X_int % 2)

if prova == 0:
    print("Par")
else:
    print("Ímpar")

Chooser your number: 21

Ímpar

In [45]:
# Exercício Otimizado

x = int(input("Escolha um número: "))

if x % 2 == 0:
    print("Par")
else:
    print("Ímpar")

Chooser your number 2

Par

In [72]:
float_number = (15.0)
print(type(float_number))

int_number = int(float_number)
print(type(int_number))

int_number2 = 5
print(type(int_number2))
str_text = str(int_number2)
print(str_text + " testes")
print(type(str_text))

<class 'float'>
<class 'int'>
<class 'int'>
5 testes
<class 'str'>